/* Body */
body {
  background-image: url(https://images7.alphacoders.com/981/981713.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  margin-top: 5rem;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
/* Nav Bar */
#nav_bar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  height: 2em;
  border-radius: 1em;
}
/* Page Header */
h1 {
  font-family: fantasy;
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}
/* index.html article */
#intro {
  color: white;
  border-radius: 10px;
}
/* Search Bar player Card */
.card {
  background-color: rgba(138, 138, 138, 0.8);
  border: 1px solid black;
}

#player-card {
  padding: 10px;
  margin: auto;
  text-align: justify;
  color: #000;
}

#player-info {
  margin-top: 5px;
  border: 1px solid red;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.549);
  color: white;
}
#photo {
  border: 1px solid Black;
  border-radius: 10px;
  background-color: hsla(234, 100%, 50%, 0.595);
}
#name {
  text-align: center;
}

/* News section */
.news-container {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 4px;
}
#news {
  border: 1px solid red;
  border-radius: 10px;
}
#news-title {
  color: red;
}
#news-content {
  color: white;
}
#posted-date {
  color: gray;
  font-size: 15px;
}

/* Roster table */
.player-table {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  table-layout: auto;
  min-width: 850px;
}
.headshot {
  margin: 0px;
  padding: 0px;
  border: 1px solid blue;
}
tr {
  border: 1px solid red;
}

td {
  color: whitesmoke;
  border: 1px solid red;
  text-align: justify;
}
th {
  color: whitesmoke;
  padding: 10px;
  border: 1px solid red;
}

/* scroll to top button */
#to-top {
  display: none;
  border-radius: 45%;
  border: none;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  position: fixed;
  background-color: hsla(234, 100%, 50%, 0.595);
  color: white;
  cursor: pointer;
  padding: 15px;
}
