body {
  background-image: url(https://images7.alphacoders.com/981/981713.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-attachment: fixed;
  position: absolute;
  margin-top: 5rem;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#nav_bar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.card {
  background-color: gray;
}

.logo {
  height: 2em;
  border-radius: 1em;
}

#player-card {
  margin: auto;
  text-align: justify;
}

.row {
  justify-content: center;
}

h1 {
  font-family: fantasy;
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

p.card-title {
  margin: 0;
  text-align: center;
  font-size: xx-small;
}
.text {
  text-align: center;
}

.information-container {
  color: black;
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: red;
}

#intro {
  color: white;
  border-radius: 10px;
}
/* news section */
#news {
  border-radius: 10px;
}
#news-title {
  color: red;
}
#news-content {
  color: white;
}
#posted-date {
  color: gray;
  font-size: 15px;
}
